.home-page {
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pageAnimation .5s;

    &__text {
        font-size: 35px;
        margin: auto 0;
    }

    &__title {
        color: #fff;
        font-size: 1.7em;
        text-shadow: 1px 1px 2px black;
        font-weight: 800;
    }

    &__subtitle {
        padding: 10px;
        color: orange;
        font-size: 3em;
        background-color: #211919;
        border-radius: 15px;
        display: inline-block;
        font-weight: 800;
    }
}

@media screen and (max-width: 920px) {
    .home-page {
        &__text {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 650px) {
    .home-page {
        &__text {
            font-size: 18px;
        }
    }
}