.stars {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 17px;

    &__item {
        cursor: pointer;
        transition: .3s;
    }

    &__item-text {
        opacity: 0;
    }
}

.stars__item.active {
    color: orange;
}

.stars__item.yellow {
    margin-bottom: 0;
    color: orange;
    cursor: auto;

    :hover {
        font-size: 17px;
    }
}

.stars__item.yellow.active {
    font-size: 17px;
}