.stars {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 17px;

    &__item {
        cursor: pointer;

        :hover {
            font-size: 20px;
            color: orange;
        }
    }

    &__item-text {
        opacity: 0;
    }
}

.stars__item.active {
    color: orange;
    font-size: 20px;
}

.stars__item.yellow {
    margin-bottom: 0;
    color: orange;
    fill: orange;
    cursor: auto;

    :hover {
        font-size: 17px;
    }
}

.stars__item.yellow.active {
    font-size: 17px;
}