.alert {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    background-color: rgb(73, 143, 246);
    padding: 20px;
    border-radius: 5px;
    animation: animation-alert 4s ease;
    width: 270px;
    z-index: 12;
}

.alert-title {
    text-transform: uppercase;
    font-size: 25px;
}

.alert-close {
    cursor: pointer;
}

@keyframes animation-alert {
    0% {
        opacity: 0;
        right: -100px;
    }
    10% {
        opacity: 1;
        right: 0;
    }
    90% {
        opacity: 1;
        right: 0;
    }
    100% {
        opacity: 0;
        right: -100px;
    }
}