.main-button {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    background: orange;
    color: #242424;
    transition: .3s;
    font-weight: 600;
    border: 2px solid transparent;

    &:hover {
        background: #242424;
        border: 2px solid black;
        color: #fff;
    }
}