.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 250px;
    background: url("http://max-themes.net/demos/albertos/images/bg-menu.jpg");
    text-align: center;
    background-size: cover;
    color: #fcf6ec;
    padding: 30px 0;

    &__links {

        &-item {
            margin-bottom: 10px;
        }
    }

    &__link {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        color: #fcf6ec;

        &.active {
            color: orange;
        }
    }
}

@media screen and (max-width: 920px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 5px 20px;
        z-index: 10;
        background: #211919;

        &__links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            margin-left: 30px;

            & > li {
                margin-bottom: 0;
            }
        }

        &__logo {
            height: 100%;

            & > img {
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .navbar {
        font-size: 15px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        font-size: 12px;

        &__links {
            margin-left: 10px;
        }
    }
}