footer {
    width: 100%;

    .footer__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid orange;
        padding: 20px;
        width: 70%;
        margin: 0 auto 20px;
    }

    .footer__links-item {
        cursor: pointer;
    }

    .footer__label {
        font-size: 14px;
    }
}

.footer__links-logo {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

@media screen and (max-width: 920px) {
    footer {
        display: none;
    }
}