.menu-list__item {
    width: 30%;
    height: 215px;
    position: relative;
    background: #ffffff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    transition: .3s ease-in-out;
    text-align: center;
}

.menu-list__item:hover {
    height: 420px;
}

.menu-list__image-wrapper {
    width: 100%;
    height: 230px;
    position: relative;
    top: -60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    border-radius: 4px;
}

.menu-list__image {
    width: 100%;
    border-radius: 4px;
    height: 100%;
}

.menu-list__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    flex-grow: 1;
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}

.menu-list__item:hover .menu-list__info {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
}

.menu-item__name {
    font-size: 1.5em;
}

.menu-item__ingredients {
    font-size: .7em;
}

.menu-item__price {
    font-size: 1.5em;
    color: #9b040c;
}

@media screen and (max-width: 1248px) {
    .menu-list__item {
        width: 45%;
    }

    .menu-list__info {
        padding: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .menu-list__image-wrapper {
        height: 200px;
    }
}

@media screen and (max-width: 650px) {
    .menu-list__item {
        width: 100%;
        height: 190px;
    }

    .menu-list__item:hover {
        height: 350px;
    }

    .menu-list__item:hover .menu-list__info {
        margin-top: -60px;
    }
}

@media screen and (max-width: 480px) {
    .menu-list__item {
        height: 170px;
        margin: 30px 0;
    }

    .menu-list__image-wrapper {
        width: 100%;
        height: 180px;
    }

    .menu-list__info {
        padding: 15px;
        font-size: 15px;
    }

    .menu-list__item:hover .menu-list__info {
        margin-top: -60px;
    }
}