.order-list__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.order__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    text-align: center;
}

.order__image-wrapper {
    width: 30%;
    height: 200px;
    margin-bottom: 30px;
}

.order__image {
    width: 100%;
    height: 100%;
}

.order-list__item {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #242424;
}

.order__list-btn {
    height: 30px;
    width: 30px;
    background: #ffffff;
    font-size: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .2s;

    &:hover {
        transform: scale(1.1);
    }

    &_green {
        color: #b9fd3b;
        margin-left: 5px;

    }

    &_red {
        color: #f38383;
        margin-right: 5px;
    }
}


@media screen and (max-width: 1248px) {
    .order__image-wrapper {
        height: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .order__image-wrapper {
        height: 120px;
    }
}

@media screen and (max-width: 650px) {
    .order-list {
        font-size: 15px;

        &__row {
            padding: 10px 0;
        }
    }

    .order__image-wrapper {
        height: 100px;
    }
}


@media screen and (max-width: 480px) {
    .order__image-wrapper {
        height: 80px;
    }
}


